#juego{
	position: relative;
	width: 600px;
	height: 600px;
	background-color: #FFFF00;
	border: 5px solid #61210B;
}

.pieza{
	position: absolute;
	width: 200px;
	height: 200px;
	display: block;
	background-size: cover;
	background-position: center center;
	transition: 0.5s ease;
}

